<!DOCTYPE html>
<html lang="en-CA">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="description" content="<%= home.seo_description %>" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="<%= home.seo_site_name %>" />
    <meta property="og:locale" content="en_CA" />
    <meta property="og:image" content="<%= home.seo_image %>" />
    <meta property="og:title" content="<%= home.seo_title %>" />
    <meta property="og:description" content="<%= home.seo_description %>" />
    <meta property="og:url" content="https://www.albertafishingguide.com/" />
    <title><%= home.seo_title %></title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-11175695-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      gtag('consent', 'default', {
        'ad_storage': 'denied',
        'analytics_storage': 'denied'
      });
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-11175695-2');
    </script>

    <link rel="canonical" href="<%= home.seo_canonical %>" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="<%= rootPath %>public/styles/global.css" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-4591326842141910",
          enable_page_level_ads: false
      });
    </script>
  </head>

  <body>
    <div id="page-wrapper">
        <main role="main">
          <hr />
              <ins class="adsbygoogle"
                data-ad-client="ca-pub-4591326842141910"
                data-ad-slot="1353344983"
                data-ad-format="horizontal"
                data-full-width-responsive="false">
              </ins>
              <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
              <hr />
          <header class="padded-section" id="page-header">
            <aside class="padded-section" id="cookies-disclaimer">
              <p><%= home.cookies_disclaimer %></p>
              <button class="button button-accept">Accept Cookies</button>
              <button class="button-close">Close</button>
            </aside>
            <img class="header-image full-width" src="<%= home.header_image.url%>" with="<%= home.header_image.dimensions.width%>" height="<%= home.header_image.dimensions.height%>" alt="<%= home.header_image.alt%>" />
            <h1><%= PrismicDOM.RichText.asText(home.page_header) %></h1>
            <%- PrismicDOM.RichText.asHtml(home.page_copy) %>
          </header>
          <section class="padded-section" id="site-section">
              <hr />
                <ins class="adsbygoogle"
                data-ad-client="ca-pub-4591326842141910"
                data-ad-slot="1353344983"
                data-ad-format="horizontal"
                data-full-width-responsive="false">
                </ins>
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
              <hr />
              <div class="fishing-rules">
                <article class="provincial-fishing">
                  <%- PrismicDOM.RichText.asHtml(home.provincial_fishing) %>
                </article>
                <article class="national-fishing">
                  <%- PrismicDOM.RichText.asHtml(home.national_park_fishing) %>
                </article>
              </div>
              <hr />
              <ins class="adsbygoogle"
                data-ad-client="ca-pub-4591326842141910"
                data-ad-slot="1353344983"
                data-ad-format="horizontal"
                data-full-width-responsive="false">
              </ins>
              <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
              <hr class="margin-bottom-large" />
              <article>
                <%- PrismicDOM.RichText.asHtml(home.conservation_post) %>
              </article>
              <hr />
              <ins class="adsbygoogle"
                  data-ad-client="ca-pub-4591326842141910"
                  data-ad-slot="2830078182"
                  data-ad-format="auto"
                  data-full-width-responsive="true"></ins>
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
                <hr class="margin-bottom-large" />
          </section>
        </main>
      </div>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@id": "<%= home.seo_canonical %>",
        "@type": "Organization",
        "url": "<%= home.seo_canonical %>",
        "name": "<%= home.seo_site_name %>"
        "logo": "<%= home.logo_image %>",
      }
    </script>
    <script src="<%= rootPath %>public/scripts/global.js"></script>
  </body>
</html>
